/* font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Shadows+Into+Light', cursive */
/** { border: 1px solid red; }*/

body, html {
  background-color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}


nav {
  height: 6rem;
  text-align: right;
  padding: 1rem 0;
}

ul.nav.nav-pills {
    text-align: right;
    position: fixed;
}

.nav-pills > li {
    float: none;
    display: inline-block;
}

nav > ul > li > a {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 2rem;
  text-decoration: none;
  color: #000000;
}

nav > ul > li > a:hover {
   color:#b51e1e;
   text-decoration:none;
   font-weight: bold;
   cursor:pointer;
   background-color: #282E34;
}

.navbar-custom {
  background-color: #fff;
}

.bgimg-1 {
  background-image: url("images/back.jpg");
  min-height: 50rem;
}

.bgimg-2 {
  background-image: url("images/skin.jpg");
  min-height: 50rem;
}

.bgimg-3 {
  background-image: url("images/kbeauty.jpg");
  min-height: 50rem;
}

.bgimg-4 {
  background-image: url("images/skin2.jpg");
  min-height: 50rem;
}


.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
  position: relative;
  opacity: 0.75;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-img {
  max-height: 90%;
  max-width: 90%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 5px;
}


figcaption {
  text-align: center;
  color: #808080;
  margin: 1rem 0;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #282E34;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  border-radius: 10px;
}

h2 {
  text-align: center;
}

.paragraph-1 {
  color:#fff;
  background-color: #282E34;
  text-align:center;
  padding:50px 80px;
  text-align: justify;
}


.paragraph {
  color:#282E34;
  background-color: #fff;
  text-align:center;
  padding:50px 80px;
  text-align: justify;
}

.product-card > h3 {
  text-align: center;
}

.product-card > p, li {
  text-align: left;
}

.section-heading-spacer {
    width: 200px;
    border-top: 2px solid #e7e7e7;
}

.spacer {
  padding: 1rem 0;
}


@media only screen and (max-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
        background-attachment: scroll;
    }
}

/* Contact Form */

.indicates-required {
  color: #808080;
}

#mc_embed_signup {
  color: #fff;
  background-color: #282E34;
  padding: 3rem;
}

.mc-field-group {
  padding-bottom: 1rem;
}

.mc-field-group > input {
  border-radius: 5px;
  padding-left: 2rem;
}

#mce-MMERGE2 {
  line-height: 5rem;
}
